

extends layout

block content
    link(rel="stylesheet",href="/stylesheets/index.css")
    .row
        .col-sm-6
            .container-fluid
                .row
                    h1 Ecrans
                .row.content-group#slides
                    .content-group-content
                        h5                            
                            span#debug.btn.btn-default.btn-xs.active.pull-right
                                span.glyphicon.glyphicon-eye-open
                                |  Debug
                        each group in groups
                            h5 
                                span.glyphicon.glyphicon-th
                                |  
                                =group.name
                            .group(group-width=group.width,group-height=group.height,group-id=group._id)
                                each win in group.windows
                                    .thumbnail.window(class=(win.window.connected?'connected':''))
                                        .viewer_wrapper
                                            if ( win.groupSlide )
                                                .renderer_canvas.window_canvas.simulation(window-model=win.window.windowModel,window-id=win.window.windowId,window-x=win.x,window-y=win.y,slide-id=win.groupSlide.slide,slide-base-x=win.groupSlide.originX,slide-base-y=win.groupSlide.originY)
                                            else
                                                .renderer_canvas.window_canvas.simulation(window-model=win.window.windowModel,window-id=win.window.windowId,window-x=win.x,window-y=win.y)
                                        .debug-info
                                            p=win.window.name
                                            p.ip
                                                span.glyphicon.glyphicon-flash
                                                |  
                                                =win.window.privateIp
                                            p.windowId
                                                span.glyphicon.glyphicon-barcode
                                                |  
                                                =win.window.windowId
        .col-sm-6.content-panel
            .container-fluid
                .row
                    h1 Contenu
                .row.content-group#slides
                    h5 
                        span.glyphicon.glyphicon-file
                        |  Slides
                    .content-group-content
                        - slides = slides.sort(function(a,b){return a.name.toLowerCase().localeCompare(b.name.toLowerCase())});
                        each slide in slides
                            .col-xs-4.col.sm-4.col-md-3
                                .thumbnail.slide(slide-id=slide.id,slide-width=slide.width,slide-height=slide.height)
                                    p.xy
                                        = slide.width
                                        | x
                                        = slide.height
                                    div.renderer_wrapper
                                        div.renderer_canvas.simulation(slide-id=slide.id,window-model=slide.windowModel._id,slide-width=slide.width,slide-height=slide.height)
                                    p(title=slide.name)=slide.name
                                    .slide-actions
                                        a.btn.btn-sm.btn-default(href="/create/?id="+slide.id,title="Modifier")
                                            span.glyphicon.glyphicon-pencil
                                        a.btn.btn-sm.btn-default.btn-danger(href="/?deleteSlide="+slide.id,title="Effacer")
                                            span.glyphicon.glyphicon-trash
                .row.content-group#sequences
                    h5
                         span.glyphicon.glyphicon-film
                         |  Séquences
                    .content-group-content
                        each sequence in sequences
                            .col-xs-4.col.sm-4.col-md-2
                                .thumbnail.sequence(sequence-id=sequence.id)
                                    div.renderer_wrapper
                                        span.glyphicon.glyphicon-film
                                    p(title=sequence.name)=sequence.name
                                    .slide-actions
                                        a.btn.btn-sm.btn-default(href="/sequence/?id="+sequence.id,title="Modifier")
                                            span.glyphicon.glyphicon-pencil
                                        a.btn.btn-sm.btn-default.btn-danger(href="/?deleteSequence="+sequence.id,title="Effacer")
                                            span.glyphicon.glyphicon-trash
    script(src='/javascripts/jquery-2.0.3.js')
    script(src='/javascripts/jcanvas.min.js')
    script(src='/javascripts/jquery-ui-1.10.3.custom.js')
    script(src='/javascripts/jquery.ui.touch-punch.min.js')
    script(src='/javascripts/jquery.marquee.js')
    script(src='/javascripts/jquery.colorPicker.min.js')
    script(src='/javascripts/common.js')
    script(src='/javascripts/textFit.min.js')
    script(src='/javascripts/renderer_new_relative.js')
    script(src='/javascripts/index.js')
    script(src='/javascripts/relems/marquee.js')
    script(src='/javascripts/relems/mire.js')
    script(src='/javascripts/relems/snowfall.js')
    script(src='/javascripts/relems/counter.js')
    script(src='/javascripts/relems/staticImage.js')
    script(src='/javascripts/relems/video.js')
    script(src='/javascripts/relems/staticText.js')
    script(src='/javascripts/relems/color.js')
    script(src='/javascripts/relems/drawing.js')
    script(src='/javascripts/relems/date.js')
    script(src='/javascripts/relems/time.js')
    script(src='/javascripts/relems/timesync.js')
    script(src='/javascripts/relems/multiText.js')