extends layout

block content
    h1 Slides
    #allSlides.span12
        ul.thumbnails
            each slide in slides
                li.span2
                    div.thumbnail
                        div.renderer_wrapper
                            div.renderer_canvas.simulation(id=slide.id)
                        p(title=slide.name)=slide.name
                        .btn-group
                            a.btn.btn-danger(href="/?delete="+slide.id,title="Effacer")
                                i.icon-trash.icon-white
                            a.btn.btn-info(href="/create/?id="+slide.id,title="Modifier")
                                i.icon-pencil.icon-white
                            a.btn.btn-primary.dropdown-toggle(href="#",title="Mettre sur la fenêtre",data-toggle="dropdown")
                                i.icon-th.icon-white
                                span.caret
                            ul.dropdown-menu
                                li 
                                    a.btn.btn-link(title="Fenêtre 1",href="/?window=1&slide="+slide.id)
                                        img(src='/images/screen1.png')
                                li 
                                    a.btn.btn-link(title="Fenêtre 2",href="/?window=2&slide="+slide.id)
                                        img(src='/images/screen2.png')
                                li 
                                    a.btn.btn-link(title="Fenêtre 3",href="/?window=3&slide="+slide.id)
                                        img(src='/images/screen3.png')
    h1 Séquences
    dl.unstyled
        each sequence in sequences
            .well
                dt
                    =sequence.name
                dd
                    ul.unstyled
                        li
                             i.icon-time
                             span=" "+sequence.duration + "s"
                        li
                            i.icon-th-list
                            span=' ' + sequence.sequenceEvents.length + ' Evènements  '
                .btn-group
                    a.btn.btn-danger(href="/?deleteSequence="+sequence.id,title="Effacer")
                        i.icon-trash.icon-white
                    a.btn.btn-info(href="/sequence/?id="+sequence.id,title="Modifier")
                        i.icon-pencil.icon-white
                    a.btn.btn-primary.dropdown-toggle(href="#",title="Mettre sur la fenêtre",data-toggle="dropdown")
                        i.icon-th.icon-white
                        span.caret
                    ul.dropdown-menu
                        li 
                            a.btn.btn-link(title="Fenêtre 1",href="/?window=1&sequence="+sequence.id)
                                img(src='/images/screen1.png')
                        li 
                            a.btn.btn-link(title="Fenêtre 2",href="/?window=2&sequence="+sequence.id)
                                img(src='/images/screen2.png')
                        li 
                            a.btn.btn-link(title="Fenêtre 3",href="/?window=3&sequence="+sequence.id)
                                img(src='/images/screen3.png')
    h1 Fenêtres
    .row
        each window in wins
            div.thumbnail.window.span2(class=(window.connected?'connected':''))
                .viewer_wrapper
                    .renderer_canvas(id=window.slide)
                p=window.name
                p.ip=window.privateIp
                .btn-group
                    a.btn.btn-primary.dropdown-toggle(href="#",title="Action",data-toggle="dropdown")
                        i.icon-wrench.icon-white
                        |  
                        span.caret
                    ul.dropdown-menu
                        li
                            a.btn.btn-link.action_button(title="Redémarrer",window-id=window.windowId,window-action="reboot")
                                i.icon-refresh
                                |  Redémarrer
                        li
                            a.btn.btn-link.action_button(title="Redémarrer",window-id=window.windowId,window-action="status")
                                i.icon-th-list
                                |  Statut
                        li
                            a.btn.btn-link.action_button(title="Redémarrer",window-id=window.windowId,window-action="screenshot")
                                i.icon-camera
                                |  Capture d'Ecran
                
    script(src='/javascripts/jquery-2.0.3.js')
    script(src='/javascripts/jcanvas.min.js')
    script(src='/javascripts/jquery-ui-1.10.3.custom.js')
    script(src='/javascripts/jquery.marquee.js')
    script(src='/javascripts/jquery.colorPicker.min.js')
    script(src='/javascripts/renderer_new.js')
    script(src='/javascripts/index.js')
    script(src='/javascripts/relems/marquee.js')
    script(src='/javascripts/relems/mire.js')
    script(src='/javascripts/relems/snowfall.js')
    script(src='/javascripts/relems/counter.js')
    script(src='/javascripts/relems/staticImage.js')
    script(src='/javascripts/relems/video.js')
    script(src='/javascripts/relems/staticText.js')
    script(src='/javascripts/relems/color.js')
    script(src='/javascripts/relems/drawing.js')
    script(src='/javascripts/relems/date.js')
    script(src='/javascripts/relems/time.js')
    script(src='/javascripts/relems/timesync.js')
    script(src='/javascripts/relems/multiText.js')
    //script(src="http://api.html5media.info/1.1.6/html5media.min.js")