extends layout

block content
    link(rel="stylesheet",href="/stylesheets/index.css")
    .row
        .col-sm-4
            .container-fluid
                .row
                    h1 Ecrans
                .row.content-group#slides
                    .content-group-content
                        h5 
                            span.glyphicon.glyphicon-th
                            |  Tous
                        each window in wins
                            .thumbnail.window.col-xs-6(class=(window.connected?'connected':''),window-id=window.windowId)
                                .viewer_wrapper
                                    .renderer_canvas(id=window.slide)
                                p=window.name
                                p.ip=window.privateIp
                                .slide-actions
                                    .btn-group
                                        a.btn.btn-default.btn-sm.dropdown-toggle(data-toggle="dropdown") Statut
                                        pre.text-left.dropdown-menu(style="width:800px")=window.lastStatus
                                    .btn-group
                                        a.btn.btn-default.btn-sm.dropdown-toggle(href="#",title="Action",data-toggle="dropdown")
                                            i.icon-wrench.icon-white
                                            |  
                                            span.caret
                                        ul.dropdown-menu
                                            li
                                                a.btn.btn-sm(title="Redémarrer",window-id=window.windowId,window-action="reboot")
                                                    span.glyphicon.glyphicon-refresh
                                                    |  Redémarrer
                                            li
                                                a.btn.btn-sm.btn-link.action_button(title="Redémarrer",window-id=window.windowId,window-action="status")
                                                    span.glyphicon.glyphicon-th-list
                                                    |  Statut
                                            li
                                                a.btn.btn-sm.btn-link.action_button(title="Redémarrer",window-id=window.windowId,window-action="screenshot")
                                                    span.glyphicon.glyphicon-camera
                                                    |  Capture d'Ecran
        .col-sm-8
            .container-fluid
                .row
                    h1 Contenu
                .row.content-group#slides
                    h5 
                        span.glyphicon.glyphicon-file
                        |  Slides
                    .content-group-content
                        each slide in slides
                            .col-xs-4.col.sm-4.col-md-2
                                .thumbnail.slide(slide-id=slide.id)
                                    div.renderer_wrapper
                                        div.renderer_canvas.simulation(id=slide.id)
                                    p(title=slide.name)=slide.name
                                    .slide-actions
                                        a.btn.btn-sm.btn-default(href="/create/?id="+slide.id,title="Modifier")
                                            span.glyphicon.glyphicon-pencil
                                        a.btn.btn-sm.btn-default.btn-danger(href="/?deleteSlide="+slide.id,title="Effacer")
                                            span.glyphicon.glyphicon-trash
                .row.content-group#sequences
                    h5
                         span.glyphicon.glyphicon-film
                         |  Séquences
                    .content-group-content
                        each sequence in sequences
                            .col-xs-4.col.sm-4.col-md-2
                                .thumbnail.sequence(sequence-id=sequence.id)
                                    div.renderer_wrapper
                                        span.glyphicon.glyphicon-film
                                    p(title=sequence.name)=sequence.name
                                    .slide-actions
                                        a.btn.btn-sm.btn-default(href="/sequence/?id="+sequence.id,title="Modifier")
                                            span.glyphicon.glyphicon-pencil
                                        a.btn.btn-sm.btn-default.btn-danger(href="/?deleteSequence="+sequence.id,title="Effacer")
                                            span.glyphicon.glyphicon-trash
    script(src='/javascripts/jquery-2.0.3.js')
    script(src='/javascripts/jcanvas.min.js')
    script(src='/javascripts/jquery-ui-1.10.3.custom.js')
    script(src='/javascripts/jquery.ui.touch-punch.min.js')
    script(src='/javascripts/jquery.marquee.js')
    script(src='/javascripts/jquery.colorPicker.min.js')
    script(src='/javascripts/renderer_new.js')
    script(src='/javascripts/index.js')
    script(src='/javascripts/relems/marquee.js')
    script(src='/javascripts/relems/mire.js')
    script(src='/javascripts/relems/snowfall.js')
    script(src='/javascripts/relems/counter.js')
    script(src='/javascripts/relems/staticImage.js')
    script(src='/javascripts/relems/video.js')
    script(src='/javascripts/relems/staticText.js')
    script(src='/javascripts/relems/color.js')
    script(src='/javascripts/relems/drawing.js')
    script(src='/javascripts/relems/date.js')
    script(src='/javascripts/relems/time.js')
    script(src='/javascripts/relems/timesync.js')
    script(src='/javascripts/relems/multiText.js')