extends layout

block content
    - amountPerPage = 50
    link(rel='stylesheet', href='/stylesheets/moderate.css')
    ul.nav.nav-pills
        li(class=((pageAction=='new')?'active':''))
            a(href="/moderate?show=new") Non modérés
        li(class=((pageAction=='refused')?'active':''))
            a(href="/moderate?show=refused") Refusés
        li(class=((pageAction=='validated')?'active':''))
            a(href="/moderate?show=validated") Acceptés
    #allSlides
        .container-fluid#drawingsContainer
            - drawingsShortened = drawings.slice((page-1)*amountPerPage,page*amountPerPage)
            each drawing in drawingsShortened
                .row.moderateRow(id=drawing.id+'_row')
                    .col-sm-7
                        div.drawing(id=drawing.id)
                            img(src='/images/ajax-loader.gif')
                    .col-sm-5.actions
                        .btn-group
                            a.btn.btn-lg.btn-success(href!='javascript:moderateDrawing(true,\''+drawing.id+'\')')
                                span.glyphicon.glyphicon-ok
                            a.btn.btn-lg.btn-danger(href!='javascript:moderateDrawing(false,\''+drawing.id+'\')')
                                span.glyphicon.glyphicon-remove
                        |  
                        .btn-group
                            a.btn.btn-lg.btn-primary(href!='javascript:likeDrawing(1,\''+drawing.id+'\')')
                                i.glyphicon.glyphicon-thumbs-up
                            a.btn.btn-lg.btn-default(href!='javascript:likeDrawing(-1,\''+drawing.id+'\')')
                                i.glyphicon.glyphicon-thumbs-down
                            span.btn.btn-default.btn-lg
                                span(id=drawing.id+'_likes')=' '+((drawing.likes>0)?'+':'')+drawing.likes
                        |  
                        - if ( !drawing.validated ){
                        .btn-group
                            a.btn.btn-lg.btn-danger(href!='javascript:deleteDrawing(false,\''+drawing.id+'\')') 
                                span.glyphicon.glyphicon-trash
                        - }
            - for(var i = 1; i < Math.ceil(drawings.length/amountPerPage); i++){
                - if ( i != page ){
                    a.page-link(href='moderate?show='+show+'&page='+i)=i
                - }else{
                    span.page-link=i
                - }
            - }
    script(src='/javascripts/plugins/jcanvas.min.js')
    script(src='/javascripts/plugins/inview.js')
    script(src='/javascripts/moderate.js')